@model IEnumerable<DrinkAndCollectV6.Models.CategoryViewModel>

@{
    ViewData["Title"] = "IndexCategory";
}

<h1>IndexCategory</h1>
<h2>@ViewData["bericht"]</h2>
<p>
    <a asp-action="AddCategory">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CatID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CatID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>|
                @Html.ActionLink("DeleteCategory", "DeleteCategory", new { id = item.CatID})
            </td>
        </tr>
}
    </tbody>
</table>
