@model DrinkAndCollectV6.Models.BeerViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<div>@ViewData["Message"]</div>
<div>
    <h4>BeerViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StyleID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StyleID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CatID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CatID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
