@model IEnumerable<DrinkAndCollectV6.Models.StyleViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div>@ViewData["Message"]</div>
<p>
    <a asp-action="AddStyle">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StyleID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StyleID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Delete", "RemoveStyle", new { id = item.StyleID })
            </td>
        </tr>
}
    </tbody>
</table>
